a {
  text-decoration: none;
}

.main {
  //background: burlywood;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */


/* 商品一覧 */

.item-contents {
 // background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-right:5%;
  
}

  .title {
    font-size: 3vh;
    //line-height: 1.4;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 6%;
    font-family:"游教科書体";
    border-bottom: 1px solid maroon;
  }

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
 // background-color: burlywood;
 //height: 50px;
 margin-bottom: 50px;
}


.item-img-content {
  position: relative;
}

.item-img-content:hover{
  opacity: 50%;
}

.item-img {
  width: 37vh;
  height: 33vh;
  border-radius: 2px;
}

// .sold-out {
//   position: absolute;
//   top: 40%;
//   width: 100%;
//   text-align: center;
//   background-color: crimson;
//   transform: skewY(-10deg);
// }

// .sold-out>span {
//   color: #FFF;
//   font-size: 45px;
//   font: bold;
// }


.item-info {
  background-color:white ;
  color: black ;
  border-radius: 3px;

}

.item-info a{
  color: black ;
  
}


.item-name{
  font-size: 2.5vh;
  font-family: Georgia, serif;
  padding: 5px;
  border-bottom:1px solid maroon ;
  width:  90%;
  margin-left: 5px;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 20%;
  padding-bottom: 10px;
}

.item-explain{
  min-height: 50px;
  overflow-x: scroll;
}

.item-explain a{
  border-bottom:1px solid maroon ;
  width: 20%;
  color: maroon;
}

.item-explain a:hover{
  color: gray;
}



.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.buy-link {
color: maroon;
}

.buy-link:visited{
  color: maroon;
}

.buy-link:hover{
color: gray;
}

/* //商品一覧 */

// 商品詳細
