
// タイムラインについてのCSS



.user-info-timeline {
  background-color: black;
  display: flex;
  justify-content: start;
  height: 50px;
  color: aliceblue;
}

.user-info-timeline:hover{
  color:green;
}

.user-img-timeline{
  border-radius: 50%;
  
}

.user-img-timeline:hover{
  opacity: 50%;
}

.username-timeline{
  margin: auto 0 auto 0;
}

// 商品購入ボタンのCSS

