
// タイムラインについてのCSS



.user-info-timeline {
  background-color: #3c1900;
  display: flex;
  justify-content: start;
  height: 50px;
  color: aliceblue;
}

.user-info-timeline:hover{
  color:maroon;
}

.user-img-timeline{
  border-radius: 50%;
  width: 50px;
}

.user-img-timeline:hover{
  opacity: 50%;
}

.username-timeline{
  margin: auto 0 auto 0;
}



// 商品購入ボタンのCSS

