.searching-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searching-by-name{
  margin-left: 140px;
}

.name-label{
  font-size: large;
  margin-left:25px;
}

.searching-by-category{
  margin-left: 50px;
}

.category-font{
  text-align: center;
  font-size: large;
  margin-left: 40px;
}

.searching-submit-btn{
  margin-left: 200px;
  margin-top:50px;
  margin-bottom: 25px;
  color:black;
  display: block;
}

.select-box{
  width: 70%;
  margin-left:50px;
}

.select-box-processing{
  width:70%;
  margin-left:35px;
}

.select-label{
  font-size: large;
  font-weight: bold;
}

// タイムラインについてのCSS



.user-info-timeline {
  background-color: black;
  display: flex;
  justify-content: start;
  height: 50px;

}

.user-img-timeline{
  border-radius: 50%;
 
}

.username-timeline{
  margin: auto 0 auto 0;
}