/* border-bottom: 1px solid #eee; */


.items-sell-contents {
  background-color: burlywood;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  opacity: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20;
  margin-bottom: 20px;
}



.items-sell-main {
  background-color: burlywood;
  width: 40vw;
  min-width: 400px;
  //padding: 10vh 15vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right:8% ;
  margin-top: 20;
  margin-bottom: 20px;
}

.items-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-left: 10%;
  border-bottom:1px solid maroon ;
  font-family: "游教科書体";
}

/* 共通 */
.indispensable {
  background: maroon;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}


/* /共通 */

// タグ付け

@media screen and (min-width:500px){
  .post-tag{
    margin-left: 20%;
  }
}

@media screen and (min-width:1000px){
  .post-tag{
    margin-left: 24%;
  }
  
}

#search-result{
  margin-left: 10%;
}

.child{
  padding: 2px;
  border: 1px solid black;
  background-color: white;
  width: 35%;
  margin-left: auto;
  margin-right:auto ;
}

.child:hover{
  background-color: #E0C8B1;
}



/* 出品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

#image-list img{
  width:150px ;
  height: 150px;
  margin-top: 10px;
}

/* /出品画像 */

/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */



.price-content {
  width: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;

}

// カテゴリー選択欄

.post-category{
  margin-left: 50px;
}

.post-region, 
.post-body, 
.post-acidity, 
.post-processing{
  font-weight: bold;
}

.post-processing a:visited{
  color: white;
}

.post-processing a:hover{
  color:green;
}

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: black;
  border: 1px solid green;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
  margin-top: 20px;
  cursor: pointer;
}

.back-btn {
  background: black;
  border: 1px solid #aaa;
  padding: 15px 35%;
  text-decoration: none;
}

.back-btn:visited{
  color: #fff;
}


