.main {
  margin-top: 50px;
}

.item-name{
  
}

.item-explain{
  padding: 10px 0 10px 0;
}

.region-title,.body-title,.acidity-title,.processing-title{
 font-weight: 100;
 
 color: rgb(173, 169, 169);
 
}

.region-name,.body-name,.acidity-name,.processing-name{
  border-bottom:1px solid black;
  margin-left: 10px;
  padding-left: 20px;
}

