<% if logged_in?%>
  <%= link_to "ログイン", login_path%>
<% else %>
  <h1>Sign up</h1>
<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/form' %>
  </div>

  <% if logged_in? %>
    <p>ログインしてます</p>
  <% else %>
    <strong>ログインしてません</strong>
  <% end %>

  <%=  link_to @current_user.nickname, user_path(@current_user) %>
</div>