<% @users.each do |user|%>
  <div class="user-follow">
    <%=image_tag user.image.variant(resize: '60x60') ,class: "user-follow-img"if user.image.attached? %>
    <div class="nickname-follow">
       <%=link_to user.nickname,user_path(user.id)%>
    </div>
  </div>

<% end %>