<div class="footer">
  <div>
    <%= link_to "お問い合せ", "/contact"%>
  </div>
  <div>
    <%= link_to "私たちについて", "#"%>
  </div>
  <div>
    <%= link_to "コーヒーをもっと知る", ""%>
  </div>
  <div>
    <%= link_to "Coffee Passport とは", "/about_coffee_passport"%>
  </div>
</div>