/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
   height: 100%;
 }



body{
  background-color: #E0C8B1; 
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.main-wrapper{
  position: relative;
  /* min-height: 1000px; */
}

.main-wrapper,
.main-js{
  flex-direction: column-reverse;
}

footer{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  margin-bottom: -200px;/*フッターの高さと等しいネガティブマージン*/
}



a{
  text-decoration:none;

}





li {
  list-style: none;
}

.user-img{
  border-radius: 50%;
}





.pagination {
  height: 50px;
  align-items: center;
  display: flex;
}



.pagination * {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-family: 'Nunito', sans-serif;
  margin-left: auto;
  margin-right: auto;
}


.active{
  background-color: maroon;
}

.page a , .disabled{
  color: black;
  background-color: white;
}

textarea{

  outline: none;
}

input{
  
  outline: none;
}

