

.header{
   display: flex;

  
   
   height: 80px;
   width: 100%;
   //position: fixed;
   background-color: white;
  
}



img.logo{
  width: 60px;
  height: 60px;
  padding: 14%;
  display:block;
}

 .user-img{
  height: 50px;
  margin-left: 40px;
  padding-top:15%;
}

.user-img:hover{
  opacity: 50%;
}

.header-nav {
  width: 70vw;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  display: flex;
  margin-left: 10%;
}



.header-nav a:visited{
  color: black;
}

.user-menu{
  width: 50vw;
  display: flex;
  margin-left:5% ;
}

.header-user-name, .post, .buy-form,.searching-link{
  //background-color:gray ;
}


@media screen and (min-width:500px){

  .header-user-name, .post, .buy-form,.searching-link{
    margin-left:3% ;
  }
}

@media screen and (min-width:1000px){

  .header-user-name, .post, .buy-form,.searching-link{
    margin-left:15% ;
  }
  
}

.header-user-name a:hover, .post a:hover , .buy-form a:hover, .searching-link a:hover{
  color: gray;
  //background-color: gray;
}

.login{
  font-size: 30px;
  background-color: black;
  margin-top: auto;
  margin-bottom: auto;
}


