.header{
   display: flex;
   justify-content: space-between;
   background-image: url("coffee_beans.jpeg");
  
}

.logo{
  width: 100px;
}

.header_user_name{
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}
