.top-explain{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.coffee-gif{
  width: 50%;
  margin-left: 25%;
}


.app-title {/*親div*/
  position: relative;/*相対配置*/
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }

.app-text{
  position: absolute;/*絶対配置*/
  width: 20%;
  top: 25%;
  left: 35%;
}



@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

.app-concept{
  border-bottom: 2px solid white;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  color: white;
}

.top-explain-title{
  font-family: cursive;
  font-size: 30px;
  color: white;
}

.explain-post-img{
  width: 250px;
  height: 400px;
}

.explain-wrapper{
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}




.explain-wrapper-title{
  color: maroon;
  border-bottom: 1px solid black;
  font-family:"游教科書体";
}

.explain-wrapper-title-en{
  text-align: left;
  font-size: 20px;
  font-family: cursive;
  
}

.explain-wrapper-info{
  width: 50vh;
  margin: 0 auto 0 auto;
  margin-bottom: 10px;
}

.sold-item-explain{
  margin-top: 50px;
  height: 400px;
  width: 450px;
//  display: inline-block;
}