.user-profile{
  border: 1px solid green;
  margin-top: 50px;
  padding-left: 40px;
  border-radius: 5px;
} 

.user-edit{
  font-size: 20px;
  background-color:white;
  
  width: 40%;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}

.user-edit a{
  color: black !important;
}

.user-edit a:hover{
  color: green !important;
}
