
<div class="after-buying">
  <i class="fas fa-plane-departure"></i>
  <h3 class="thanks-message">商品をご購入いただきありがとうございます！</h3>
  <div>
    引き続きコーヒーの旅をお楽しみください。
  Von voyage!
  </div>

  <div class="ridirect-root-after-buying">
    <%= link_to "トップにもどる" ,root_path %>
  </div>
</div>



